<form [formGroup]="treatmentForm" (ngSubmit)="ontreatmentForm($event,treatmentForm)">
  <h1>Treatment Details</h1>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
    fxLayoutAlign="start stretch" fxLayoutGap="5px">
    <div fxLayout="column">
      <div class="custom-form-group">
        <label class="custom-label" for="">Treatment Name
        </label>
        <div class="custom-form-control">
          <mat-form-field appearance="outline" class="example-full-width" [style.width.px]=327>
            <input formControlName="treatment" matInput placeholder="Enter Treatment Name" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="save-cancel-btn" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end end">
    <button mat-raised-button color="accent" (click)="onCansel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</form>

<div style="margin-top: 20px;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="slNo">
      <th mat-header-cell *matHeaderCellDef> slNo</th>
      <td mat-cell *matCellDef="let element"> {{element.slNo}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="treatment">
      <th mat-header-cell *matHeaderCellDef>Treatment </th>
      <td mat-cell *matCellDef="let element"> {{element.treatment}} </td>
    </ng-container>


    <ng-container matColumnDef="action" stickyEnd>
      <th mat-header-cell *matHeaderCellDef> <span class="tab_head"> Action </span>
      </th>
      <td mat-cell *matCellDef="let element" data-label="action" (click)="$event.stopPropagation()"
        (click)="$event.stopPropagation()" style="pointer-events:all;">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editable(element)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="onDeleteButtonClick(element)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
