<div class="container-fluid">
  <div class="text-center">
    <h4>Merge Clincic & Department</h4>
  </div>

  <form [formGroup]="UnitDepartMasterForm" (ngSubmit)="onUnitDepartMasterClick($event,UnitDepartMasterForm)">
    <h1>Treatment Details</h1>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
      fxLayoutAlign="start stretch" fxLayoutGap="35px">
      <div fxLayout="column">
        <div class="custom-form-group">
          <label class="custom-label" for="">
            Fees Status
          </label>
          <div class="custom-form-control">
            <mat-form-field appearance="outline" class="example-full-width" [style.width.px]=400>
              <mat-select matNativeControl formControlName="unitslNo" placeholder="Fees Status">
                <mat-option *ngFor="let unitmaster of unitmasters" [value]="unitmaster.slNo">
                  {{unitmaster.unitName}}
                </mat-option>

              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxLayout="column">
        <div class="custom-form-group">
          <label class="custom-label" for="">
            Fees Status
          </label>
          <div class="custom-form-control">
            <mat-form-field appearance="outline" class="example-full-width" [style.width.px]=400>
              <mat-select matNativeControl formControlName="departslNo" placeholder="Fees Status">
                <mat-option *ngFor="let department of departmentSettings" [value]="department.slNo">
                  {{department.department}}
                </mat-option>

              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

    </div>

    <div class="save-cancel-btn" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end end">
      <button mat-raised-button color="accent" (click)="onReset()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
<fieldset class="scheduler-border">
  <legend class="scheduler-border">Unit Department Master Details</legend>
  <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [pagination]="true" [frameworkComponents]="frameworkComponents">
  </ag-grid-angular>
</fieldset>