<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="onLogInClick($event, loginForm)">

            <mat-form-field >
              <mat-label>Input</mat-label>
              <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field >
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint>
            </mat-form-field>
            <mat-form-field >
              <mat-label>Select</mat-label>
              <mat-select formControlName="unitslNo">
                <mat-option *ngFor="let activeUnit of activeUnits" [value]="activeUnit.slNo">
                  {{activeUnit.unitName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field >
              <mat-label>Select</mat-label>
              <mat-select formControlName="dpslno">
                <mat-option *ngFor="let department of departments" [value]="department.departslNo">
                  {{department.departslNo2?.department}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="save-cancel-btn" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center">
              <button mat-raised-button color="primary">Login</button>
            </div>

          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-3"></div>
  </div>

</div>
