<form [formGroup]="pwdForm" (ngSubmit)="onPwdFormClick(pwdForm)">
    <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
    fxLayoutAlign="start stretch" fxLayoutGap="5px">
    <div fxLayout="column">
        <div class="custom-form-group">
            <label class="custom-label" for="">User Name
            </label>
            <div class="custom-form-control">
                <mat-form-field appearance="outline" class="example-full-width" [style.width.px]=327>
                    <input formControlName="username" matInput placeholder="Enter username" readonly="true" />
                </mat-form-field>
            </div>
        </div>
    </div>

    <div fxLayout="column">
        <div class="custom-form-group">
            <label class="custom-label" for="">password
            </label>
            <div class="custom-form-control">
                <mat-form-field appearance="outline" class="example-full-width" [style.width.px]=327>
                    <input formControlName="password" matInput placeholder="Enter Newusername" />
                </mat-form-field>
            </div>
        </div>
    </div>

</div>
<div class="save-cancel-btn" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end end">
    <button mat-raised-button color="accent" (click)="onReset()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
</div>
</form>