<div class="scrollbar" style="overflow: hidden;">
  <div class="row" style="margin-top: 20px;">
    <div class="col-3">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Search</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input type="search" matInput (input)="onSearchChange($event.target.value)">
        </mat-form-field>
      </form>
    </div>
    <div class="col-3">
      <div class="custom-form-group">
        <div class="custom-form-control">
          <mat-form-field appearance="outline" [style.width.px]=327>
            <input matInput (dateChange)="resetAwardLevelOnDobChange()" [matDatepicker]="date_of_birthpickerFour"
              [formControl]="previewWeek" placeholder="Select  Date" (click)="date_of_birthpickerFour.open()" />
            <mat-datepicker-toggle matSuffix [for]="date_of_birthpickerFour"></mat-datepicker-toggle>
            <mat-datepicker #date_of_birthpickerFour></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3" style="display: flex;align-items: center;justify-content: center;">
      <button mat-raised-button color="primary" (click)="addPatient()">Add Patient</button>
    </div>
  </div>
  <ag-grid-angular #agGrid class="ag-theme-balham" (rowClicked)="rowClicked($event)" [gridOptions]="gridOptions"
    style="width: 100%; height: 350px;margin-top: 20px;" [pagination]="true"
    [frameworkComponents]="frameworkComponents">
  </ag-grid-angular>
</div>