<form [formGroup]="dayilyExpensesForm" (ngSubmit)="onDayilyExpensesClick($event, dayilyExpensesForm)">
  <h1>Dayily Expenses Details</h1>
  <mat-divider></mat-divider>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="input-field">
          <label for="username">Name:</label>
          <input type="text" class="form-control" placeholder="Enter  Name" formControlName="name" [ngClass]="{ 'error': f.name.errors.required }">
          <div *ngIf="submitted && f.name.errors.required" class="error-message">Username is required.</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="input-field">
          <label for="username">Expenses Name</label>
          <textarea formControlName="notes" class="form-control" placeholder="Enter Expenses Name"></textarea>
          <!-- <div *ngIf="f.name class="error-message">Username is required.</div> -->
        </div>
      </div>
      <div class="col-sm-3">
        <div class="input-field">
          <label for="username">Date</label>
          <input type="text" class="form-control" formControlName="date" [ngClass]="{ 'error': usernameError }">
          <!-- <div *ngIf="f.name class="error-message">Username is required.</div> -->
        </div>
      </div>
      <div class="col-sm-3">
        <div class="input-field">
          <label for="username">Amount</label>
          <input type="text" formControlName="amount" class="form-control" placeholder="Enter Amount" [ngClass]="{ 'error': usernameError }">
          <!-- <div *ngIf="f.name class="error-message">Username is required.</div> -->
        </div>
      </div>
    </div>

    <div class="row" align="end">
      <div class="col-sm-12">
        <div class="form-group">
          <button type="button" style="margin-right: 20px;" class="btn btn-warning reset"
            (click)="onReset()">Clear</button>
          <button type="submit" class="btn btn-primary submit">Save</button>

        </div>
      </div>
    </div>
  </div>
</form>

<ag-grid-angular #agGrid class="ag-theme-balham" (rowClicked)="rowClicked($event)" [gridOptions]="gridOptions"
  style="width: 100%; height: 350px;margin-top: 20px;" [pagination]="true" [frameworkComponents]="frameworkComponents">
</ag-grid-angular>