<div class="container-fluid">
  <div class="text-center">
    <h4>Creat Clinic</h4>
  </div>

<form [formGroup]="unitmasterForm" (ngSubmit)="onUnitMasterClick($event,unitmasterForm)">
  
  <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
    fxLayoutAlign="start stretch" fxLayoutGap="5px">
    <div fxLayout="column">
      <div class="custom-form-group">
        <label class="custom-label" for="">Branch Name
        </label>
        <div class="custom-form-control">
          <mat-form-field appearance="outline" class="example-full-width" [style.width.px]=327>
            <input formControlName="unitName" matInput placeholder="Enter Branch Name" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div fxLayout="column">
      <div class="custom-form-group">
        <label class="custom-label" for="">Branch Describtion
        </label>
        <div class="custom-form-control">
          <mat-form-field appearance="outline" class="example-full-width" [style.width.px]=327>
            <textarea formControlName="unitDescribtion" matInput placeholder="Branch Describtion" ></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

  </div>
  <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
    fxLayoutAlign="start stretch" fxLayoutGap="5px">
    <div fxLayout="column">
      <div class="custom-form-group">
        <label class="custom-label" for="">
          Status
        </label>
        <div class="custom-form-control">
          <mat-form-field appearance="outline" class="example-full-width" [style.width.px]=327>
            <mat-select matNativeControl formControlName="status" placeholder="Status">
              <mat-option *ngFor="let statusprop of statusproperty" [value]="statusprop.slNo">
                {{statusprop.name}}
              </mat-option>

            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    </div>
  <div class="save-cancel-btn" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end end">
    <button mat-raised-button color="accent" (click)="onReset()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</form>
</div>

<fieldset class="scheduler-border">
  <legend class="scheduler-border">Unit Master Details</legend>
  <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [pagination]="true" [frameworkComponents]="frameworkComponents">
  </ag-grid-angular>
</fieldset>
